<nav
        class="bg-white shadow-lg vh-100 p-3"
        style="width: 250px; position: fixed; top: 56px; left: 0"
      >
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a class="nav-link text-dark" href="/admin/dashboard"
              ><i class="fas fa-home me-2"></i>Dashboard</a
            >
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link text-dark" href="/admin/add-locker"
              ><i class="fas fa-plus me-2"></i>Add Locker</a
            >
            <!-- <li class="nav-item mb-2">
      <a class="nav-link text-dark" href="/merchantValidate"><i class="fa-solid fa-users me-2"></i>Validate Merchants</a>
    </li> -->
          </li>
           <li class="nav-item mb-2">
            <a class="nav-link text-dark" href="/admin/analytics"
              ><i class="fa-solid fa-chart-line me-2"></i>Website Analytics</a
            >
          </li>
           <li class="nav-item mb-2"><a class="nav-link text-dark fw" href="/admin/create-partner"><i class="fa-solid fa-code"></i>  Generate API</a></li>

           <li class="nav-item mb-2">
            <a class="nav-link text-dark" href="/analytics/lockers"
              ><i class="fa-solid fa-chart-line me-2"></i>Locker Analytics</a
            >
          </li>
          </li>
           <li class="nav-item mb-2">
      <a class="nav-link text-dark" href="/Action_funnel"><i class="fa-solid fa-chart-line me-2"></i>Funnel Actions</a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link text-dark" href="/users"><i class="fa-solid fa-chart-line me-2"></i>User Management</a>
    </li>
          <li class="nav-item mb-2">
            <a class="nav-link text-dark" href="/admin/bookings"
              ><i class="fas fa-list me-2"></i>All Bookings</a
            >
          
          <li class="nav-item mt-4">
            <a class="btn btn-outline-danger w-100" href="/admin/logout"
              ><i class="fas fa-sign-out-alt me-2"></i>Logout</a
            >
          </li>
        </ul>
      </nav>